* {
  font-family: "Playfair Display", serif;
}

html {
  --color-bg-light: #dedede;
  --color-bg-dark: #313136;
  --color-header-light: #eee;
  --color-header-dark: #212124;
  --color-text-light: #eee;
  --color-text-dark: #101010;
  --color-card-light: #f3f3f3;
  --color-card-dark: #1f1f1f;

  /* tags */
  --color-entre: #451768;
  --color-mundo: #1aa035;
  --color-horos: #ea3fa3;
  --color-polit: #141693;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-bg-light);
  transition: background 0.2s ease-in-out;
}

.header {
  height: 200px;
  background: var(--color-header-light);
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  transition: 0.2s ease-in;
}

#dark-switch {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

#title {
  font-size: 40pt;
  font-weight: bold;
  margin: 0;
}

#subtitle {
  font-size: 16pt;
  margin: 0;
}

.title-bar {
  background: var(--color-header-dark);
  height: 32px;
  width: 100%;
  color: var(--color-text-light);
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.15);
}

.title-bar > * {
  cursor: pointer;
  transition: 0.8s;
}

.bar-link {
  padding: 0.1em 0.2em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.bar-link:hover {
  cursor: pointer;
  background: #5f5f5f;
  transition: 0.8s;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}

.sidebar {
  min-width: 240px;
  width: 25%;

  padding: 2em;
  min-height: 600px;
  background-color: white;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in;
}

hr {
  /* border-color did not work ;( */
  background-color: #d6d6d6;
  border: none;
  height: 1px;
  cursor: default !important;
}

.trending {
  padding: 0;
  margin: 20px 0;
  text-align: justify;
  border-top: 2px;
}

.trending > *:hover {
  cursor: pointer;
  text-decoration: underline;
}

.news-tag {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: white;
  background: black; /* default color for tag */
  display: inline;
  text-align: center;
  padding: 0 0.2em;
  transition: 0.2s ease-in;
}

/* tag colors */
.entreterimento {
  background: var(--color-entre);
}

.mundo {
  background: var(--color-mundo);
}

.horoscopo {
  background: var(--color-horos);
}

.politica {
  background: var(--color-polit);
}

.news {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: min-content;
}

.news-card {
  cursor: pointer;
  padding: 12px;
  background: var(--color-card-light);
  transition: 0.3s ease-in;
  margin: 8px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  direction: flex-start;
  padding: 0;
}

.news-text {
  margin: 10px;
}

.news-card:hover {
  /* background: #dadada; doesn't work after dark mode */
  filter: brightness(90%);
  transition: 0.3s ease-out;
  box-shadow: 4px 6px 6px 0 rgba(0, 0, 0, 0.15);
}

.news-img {
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.news-img img {
  transition: 0.3s ease-out;
}

.news-card:hover .news-img img {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

.news-card h3 {
  margin: 0.2em 0 -0.8em 0;
}

/* mobile */
@media only screen and (max-width: 800px) {
  .header {
    text-align: left;
    height: 140px;
  }
  .header #title {
    font-size: 24pt;
  }
  .header #subtitle {
    font-size: 12pt;
  }

  .news {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* hides side bar */
  .sidebar {
    display: none;
  }

  .title-bar > * {
    display: none;
  }

  .title-bar {
    height: 1em;
    position: relative;
  }
}
